<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Bem vindo! </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Ri Happy Brinquedos é a maior rede varejista de brinquedos do Brasil, fundada em 1988 pelo pediatra Ricardo Sayon, sua mulher Juanita Sayon e o administrador de empresas Roberto Saba. Possui 196 lojas, em todos os estados do Brasil, em dados de maio de 2019. 
  </mat-card-subtitle>
    <img class="pipa" src="assets/img/solzinho1.webp" alt="pipa">
  <section>
		<div class="container">
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img class="bloco" src="assets/img/blocos.png" alt="bloco">
					</div>
					<div class="contentBx">
						<h3>BLOCO<br></h3>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img class="pipa" src="assets/img/pipa.png" alt="pipa">
					</div>
					<div class="contentBx">
						<h3>PIPA<br></h3>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img class="pipa" src="assets/img/brinquedo-de-trem.png" alt="pipa">
					</div>
					<div class="contentBx">
						<h3>TREM<br></h3>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</mat-card>